CFD_Imperial_2025_Week1-2.pdf
CFD_Imperial_2025_Week2-3.pdf
CFD_Imperial_2025_Week4-5.pdf
CFD_Imperial_2025_Week5-6.pdf
CFD_Imperial_2025_Week7-8.pdf
CFD_Imperial_2025_Week8-9(1).pdf
Tutorials/CFD_2025_TutorialSheet1_Solutions.pdf
Tutorials/CFD_2025_TutorialSheet1(1).pdf
Tutorials/CFD_2025_TutorialSheet2.pdf
Coursework 1/cds.png
Coursework 1/plds.png
Coursework 1/uds.png
Coursework 1/__pycache__/algorithm_and_tools.cpython-312.pyc
Coursework 1/__pycache__/schemes.cpython-312.pyc
Coursework 1/ME4-mCFD_Coursework1_2025-26(1).pdf
