CFD_Imperial_2025_Week1-2.pdf
CFD_Imperial_2025_Week2-3.pdf
CFD_Imperial_2025_Week4-5.pdf
CFD_Imperial_2025_Week5-6.pdf
CFD_Imperial_2025_Week7-8.pdf
CFD_Imperial_2025_Week8-9(1).pdf
Tutorials/CFD_2025_TutorialSheet1_Solutions.pdf
Tutorials/CFD_2025_TutorialSheet1(1).pdf
Tutorials/CFD_2025_TutorialSheet2.pdf
Coursework 1/cds.png
Coursework 1/plds.png
Coursework 1/uds.png
Coursework 1/__pycache__/algorithm_and_tools.cpython-312.pyc
Coursework 1/__pycache__/schemes.cpython-312.pyc
Coursework 1/ME4-mCFD_Coursework1_2025-26(1).pdf
Coursework 1/CDS_05.png
Coursework 1/CDS_15.png
Coursework 1/CDS_25.png
Coursework 1/PDS_05.png
Coursework 1/PDS_15.png
Coursework 1/PDS_25.png
Coursework 1/pillow.ipynb
Coursework 1/UDS_05.png
Coursework 1/UDS_15.png
Coursework 1/UDS_25.png
Coursework 1/collages/Collage_Pe_05_labeled.png
Coursework 1/collages/Collage_Pe_05.png
Coursework 1/collages/Collage_Pe_15_labeled.png
Coursework 1/collages/Collage_Pe_15.png
Coursework 1/collages/Collage_Pe_25_labeled.png
Coursework 1/collages/Collage_Pe_25.png
Coursework 1/~$D25-26_Project1_Report_Rizky_06014823.docx
ME4-CFD_Groups2025-2026.pdf
Coursework 1/CFD25-26_Project1_Report_Rizky_06014823.docx
Coursework 1/CDS_5.png
Coursework 1/CDS_10.png
Coursework 1/CDS_30.png
Coursework 1/CDS_50.png
Coursework 1/CDS_100.png
Coursework 1/Numerical Methods in Fluids - 30 March 1995 - Leonard - Why you should not use  Hybrid    Power‐Law  or related exponential.pdf
Coursework 1/PDS_5.png
Coursework 1/PDS_10.png
Coursework 1/PDS_30.png
Coursework 1/PDS_50.png
Coursework 1/PDS_100.png
Coursework 1/UDS_5.png
Coursework 1/UDS_10.png
Coursework 1/UDS_30.png
Coursework 1/UDS_50.png
Coursework 1/UDS_100.png
Coursework 1/collages/Collage_Pe_5_labeled.png
Coursework 1/collages/Collage_Pe_10_labeled.png
Coursework 1/collages/Collage_Pe_30_labeled.png
Coursework 1/collages/Collage_Pe_50_labeled.png
Coursework 1/collages/Collage_Pe_100_labeled.png
